.header-area {
    background-color: transparent;
    background: linear-gradient(to top, #000000b3, #000100b3), url('https://suinsaat.az/img/inner-page-bg-img.jpeg')center/cover;
    height: 40vh;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    transition: .4s;
    font-size: 15px;
}

.navbar li a:hover {
    color: #ffffff80;
}

.navbar-right-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0;

}

.navbar-right-left button {
    background-color: #fede00;
    color: black;
    text-align: center;
    padding: 15px 0;
    width: 150px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 11px 0px #5555558c;
    box-shadow: 0px 5px 25px 0px #5555554a;
    display: block;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;


}

.navbar-right-right-left ul {
    display: flex;
    justify-content: space-between;
    width: 540px;
    align-items: center;
    margin: 0;
}

.navbar-right-right-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.navbar-right-right-right li {
    list-style: none;
    margin: 5px 0 0 0;

}

.navbar-right-right-right a {
    display: flex;
    align-items: center;
    color: #fede00;
    font-size: 16px;

}

.logo img {
    width: 135px;
}

.navbar-right-right-right img {
    width: 32px;
    margin-right: 10px;
    margin-top: 5px;

}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 7px;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 7px;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 7px;

}

.dropdown-language .dropbtn-language {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content-language {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 7px;
}

/* Links inside the dropdown */
.dropdown-content-language a {
    float: none;
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-language a:hover {
    background-color: #ddd;
    border-radius: 7px;

}

/* Show the dropdown menu on hover */
.dropdown-language:hover .dropdown-content-language {
    display: block;
    border-radius: 7px;

}

/* catalogs */
.catalogs {
    text-align: center;
}

.catalogs-head h2 {
    color: #212529;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 60px 0 30px 0;
}

.catalogs-head p {
    width: 700px;
    line-height: 20px;
    margin: 30px auto 60px auto;
    color: #212529;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

.catalogs-book img {
    width: 300px;
    height: 402px;
    transition: transform 0.3s;
}

.catalogs-book img:hover {
    transform: translate(-10px);
}

/* catalog info */
.catalog-info h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #ffffff4d;
    width: 80%;
    margin: 80px auto 20px auto;
}

.catalog-link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 20px auto 20px auto;
}

.catalog-link span,
.anasehife {
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.anasehife {
    text-decoration: underline;
}

.geriqayit {
    color: #ffffff7a;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* questions */
.question-area {
    background: linear-gradient(to top, #198b32b3, #198b32b3), url(../img/bg-question.png)center/cover;
    height: 30vh;
}

.questions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.question-left h2 {
    font-size: 36px;
    margin-bottom: 8px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.question-left p {
    font-size: 16px;
    margin-top: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}

.question-right a {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    color: #606160;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: GilroySemi;
    display: inline-block;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: .3s;
}

.question-right a:hover {
    background-color: #28a748;
    color: #fff;
}

/* footer */

.footer-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 35vh;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #fff;
    width: 80%;
    height: 25vh;
    margin: 0 auto;
}

.footer-top-navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.footer-top-navbar a {
    color: #a4a7ae;
    padding-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer-top-navbar a:hover {
    border-bottom: 1px solid #a4a7ae;
    color: #fff;
}

.footer-top-logo img {
    width: 175px;
}

.footer-top-telephone {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.footer-top-telephone-top a {
    font-size: 23px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.footer-top-telephone-top span {
    color: #44c6f0;
    font-size: 23px;
}

.footer-top-telephone-top .telefon-button {
    margin-right: 25px;
    font-size: 16px;
    background: #44c6f0;
    color: black;
    text-align: left;
    padding: 7px 20px;
    border-radius: 31px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-top-telephone-bottom {
    text-align: end;
    margin: 20px 0;
}

.footer-top-telephone-bottom ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.footer-top-telephone-bottom i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: .4s;
}

.footer-top-telephone-bottom i:hover {
    opacity: 0.5;
}

.footer-bottom p,
span {
    color: #fff;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto 0 auto;
}

.footer-bottom span {
    display: flex;
    align-items: center;
}